@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Piazzolla&display=swap');

body{
    background-color: rgb(216, 212, 212);
    height: 100vh;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* MAIN */

main{
    width: 90%;
    height: 92%;
    background-color: rgba(29, 56, 78, 0.904);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 21px 1px rgba(0,0,0,0.75);
}

/* PICTURE */

.container_img img{
    width: 100%;
    height: 100%;
}

.container_img{
    width: 43%;
    height: 100%;
    background-color: rgb(0, 0, 0);
}

/* LOGO */

.logo{
    width: 8%;
    /* display: block;
    margin-left: auto;
    margin-right: auto; */
    opacity: 0.6;
}

.container_title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

h1{
    color:rgba(92, 179, 250, 0.904);
    margin-left: 7%;
    font-family: 'Piazzolla', serif;
    font-weight: lighter;
    font-size: 20px;
}

/* FORMULAIRE */



.container_form{
    width: 45%;
    align-items: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.container_form legend{
    font-size: 1.5em;
    color: white;
    margin-bottom: 5%;
}
.form_inscription{
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
    border-top: 1px solid white;
}

.form_inscription label{
    color : rgba(92, 179, 250, 0.726);
}


.form_inscription input{
    background-color: rgba(40, 85, 122, 0.726);
    border: none;
    border-bottom: 1px solid rgb(0, 0, 0);
    height: 25px;
    width: 40%;
}

.form_inscription input:focus{
    background-color: rgba(61, 126, 180, 0.726);
    outline: none;
    box-shadow: 0px 0px 21px 1px rgba(0,0,0,0.75);
    transition: 0.5s;
}

.button{
    background-color:  rgba(40, 85, 122, 0.726);
    border: 1px solid rgba(40, 85, 122, 0.726);
    font-family: 'Titillium Web', sans-serif;
    padding: 1%;
    font-size: 16px;
    width: 30%;
    margin-top: 2%;
}

.button:hover{
    background-color: rgba(61, 126, 180, 0.726);
    cursor: pointer;
    transform: scale(1.2);
    transition: 0.6s;
    border: 1px solid  rgba(61, 126, 180, 0.726);
}


/* LIEN */


.lien{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 7%;
    font-family: 'Titillium Web', sans-serif; 
}



a{
    color:black;
    font-size: 15px;
    text-decoration: none;
}

a:hover{
    color: #ffffff;
}





